---
- name: Configure Tanzu RabbitMQ Repository
  ansible.builtin.yum_repository:
    name: tanzu-rabbitmq
    description: "Tanzu RabbitMQ Repository"
    baseurl: "https://{{ broadcom_user | urlencode }}:{{ broadcom_token }}@packages.broadcom.com/artifactory/rabbitmq-rpm/"
    enabled: yes
    gpgcheck: no  # Matching your instructions (gpgcheck=0)
    # Note: We use urlencode for the username if it contains an '@' symbol

- name: Clean DNF cache
  ansible.builtin.command: dnf clean all
  args:
    warn: false

- name: Install Tanzu RabbitMQ Server
  ansible.builtin.dnf:
    name: "tanzu-rabbitmq-server" # Or specific version like tanzu-rabbitmq-server-4.1.0-1.el9
    state: present
    update_cache: yes

- name: Start and Enable RabbitMQ Service
  ansible.builtin.systemd:
    name: rabbitmq-server
    state: started
    enabled: yes